<Icon border rounded />

<Icon border rounded flip="horizontal" />

<Icon border rounded flip="vertical" />

<Icon border rounded rotate={45} />

<Icon border rounded spin />

<Icon border rounded pulse />
